.home-body{
    background-color: rebeccapurple;
    height: 110vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section2{
    height: 110vh;
    background-color: #61dafb;
}