.header-container{
    top: 0;
    position: fixed;
    height:auto;
    width: 100%;
    background-color: black;
    ;
}
.header-container nav{
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-links{
    padding: 0.0%;
}
.nav-links h1{
    color: white;
    font-size: 2.25rem;
    margin-left: 2%;
}
.links{
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.3rem;
    color: palegoldenrod;

}
.links:hover{
    background-color: #61dafb;
    border-radius: 5px;
    transition: 0.5s ease;
}
/*TODO: Fix link focus*/
.links:focus{
    color: aquamarine;
}

